{% extends 'blog/base.html' %}

{% block content %}


    <div class="date">
    {% if post.published_date %}
        <!-- Include here logic to show or not show button-->
        {% if post.author.username == request.user.username %}
        <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk username=user.username %}"><span class="glyphicon glyphicon-remove"></span></a>
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk username=user.username %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <!-- Include here logic to show or not show button-->
        <div class="date">
        {{ post.published_date }}
    </div>
    {% else %}
    <a class="btn btn-default" href="{% url 'post_publish' username=user.username  pk=post.pk %}">Publish</a>
    {% endif %}
    </div>
    <h3>{{ post.author.username }}</h3>
    <h2>{{ post.title }}</h2>
    <p>{{ post.question }}</p>


    <!-- include heart-->
    <div class="heart-particle-box">
       <button class="glyphicon glyphicon-exclamation-sign" id="heart-icon" data-post-id="{{ post.pk }}">
           <div class="like_count_blog" id="heart-counter">{{ post.likes }}</div>
        </button>
              <p>
                <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-heart"></span> Heart
              </p>
        </button>

       {% if liked %}
       <i class="heart-shaped fa fa-heart" style="display: line-block"></i>
       <i class="heart-shaped fa fa-heart-o" style="display: none"></i>
       {% else %}
       <i class="heart-shaped fa fa-heart" style="display: none"></i>
       <i class="heart-shaped fa fa-heart-o" style="display: line-block"></i>
       {% endif %}
       </button>

    </div>
    <!-- include heart-->
    <div>
        <button type="button" class="btn btn-info add-new" id="add-comment" data-post-id="{{ post.pk }}"><i class="fa fa-plus"></i> Add New Comment</button>
    </div>
<hr>


{% for comment in post.comments.all %}
    {% if user.is_authenticated or comment.approved_comment %}
    <div class="comment">
        <div class="date">
            {{ comment.created_date }}
            {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk  username=user.username  %}"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk  username=user.username %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}

        </div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
    <hr class="comment">
    {% endif %}
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
{% endblock %}


