{% extends 'blog/base.html' %}

{% block content %}

    <form method="get">
        {{ posts_form.form.as_table }}
        <button type="submit">Search</button>
    </form>

    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h3>
                <a href="{% url 'get_user_profile' username=post.author.username %}">{{ post.author.username }}</a>
            </h3>

            <h1><a href="{% url 'post_detail' pk=post.pk  username=user.username %}">{{ post.title }}</a></h1>

            <p>{{ post.text|linebreaksbr }}</p>
            <a href="{% url 'post_detail' pk=post.pk  username=user.username %}">Comments: {{ post.comments.count }}</a>

                <p>Likes: {{ post.likes }}</p>

                <hr class="post">

        </div>

    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock content %}