{% extends 'blog/base.html' %}

{% block content %}

    <div class="date">
    {% if post.published_date %}
        <!-- Include here logic to show or not show button-->
        {% if post.author.username == request.user.username %}
        <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk username=user.username %}"><span class="glyphicon glyphicon-remove"></span></a>
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk username=user.username %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <!-- Include here logic to show or not show button-->
        <div class="date">
        {{ post.published_date }}
    </div>
    {% else %}
    <a class="btn btn-default" href="{% url 'post_publish' username=user.username  pk=post.pk %}">Publish</a>
    {% endif %}

    </div>

<div class="like_comment_div">
<h3>{{ post.author.username }}</h3>
        <h2>{{ post.title }} <span>
        <button class="likes post-likes glyphicon glyphicon-heart btn btn-default btn-sm" id="heart-icon" data-post-id="{{ post.pk }}" >
            <spam class="like_count_blog">{{ post.likes }}</spam>
                </button>
            </span>

        </h2>
    <p>{{ post.question }}</p>

            <spn>
                <button class="btn btn-info add-new-comment" id="add-new-comment-btn" data-post-id="{{ post.pk }}"><i class="fa fa-plus"></i>Add New Comment</button>
            </spn>

</div>

<div class="leave_comment_div">

</div>

<hr>

<div>
{% for comment in post.comments.all %}
    {% if user.is_authenticated or comment.approved_comment %}
    <div class="comment">
        <div class="date">
            {{ comment.created_date }}
            {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk  username=user.username  %}"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk  username=user.username %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}

        </div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
    <hr class="comment">
    {% endif %}
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
{% endblock %}

</div>
